.footer-container {
  display: flex;
  justify-content: right;
  position:fixed;
  bottom: 0;
  width: 100%;
}
.example-spacer {
  flex: 1 1 auto;
}

.mat-icon {
  color: #2509db;
  transition: transform 0.3s ease;
}

.footer-container:hover .mat-icon {
  transform: scale(1.2);
}