.container {
    display: flex;
   }
   .categoty-card {
    margin: 8px;
   }


   #a {
    width: 200px; 
    height: 150px;
    background-color: #17e164;
    box-shadow: 0 2px 5px rgba(222, 154, 8, 0.1);
    border-radius: 4px;
    cursor: pointer; 
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #a:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* צל מודגש יותר במעבר עכבר */
  }

  mat-card-title {
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    color: #ea820b; 
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  

  mat-card-content div {
    font-size: 32px;
    color: #f11282;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
