<div class="orderCards">
  <!-- Left column for currentCards -->
  <div class="flexDisplay">
      <mat-icon class="rightside">monetization_on</mat-icon>
      <span class="rightside" [innerText]="pointsForCurrentRoundCount.toString()"></span>
  </div>
  <div class="left-column">
    <div *ngFor="let c of currentCards; let i = index" class="category-card">
      <div (click)="chooseCard('origin',i)">
        <app-word [value]="c.origin" [wordStatus]="originStatus[i]"></app-word>
      </div>
    </div>
  </div>

  <!-- Right column for shuffleTarget -->
  <div class="right-column">
    <div *ngFor="let c of shuffleTarget; let i = index" class="category-card">
      <div (click)="chooseCard('target',i)">
        <app-word [value]="c" [wordStatus]="targetStatus[i]"></app-word>
      </div>
    </div>
  </div>
</div>