.OrderTickets {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    color: rgb(75, 21, 212);
  }
  
  .FlexiblePresentation {
    display: flex;
    align-items: center;
    color: rgb(255, 191, 0);
    
    
  }
  
  .left.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: aquamarine;
    background-color: aqua;
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .right.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: rgb(157, 9, 215);
    background-color: rgba(234, 224, 23, 0.548);
    font-size: medium;
  }
  
  
  .category-card {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #da1a846c;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: rgb(212, 131, 17);
  }
  
  app-word {
    display: block;
    padding: 5px;
    font-weight: bold;
    color: #333;
  }
  
  .right.column:hover {
    background-color: #c1d41b;
  }
  
  .left.column:hover {
    background-color: #800be784;
  }
  
  .category-card:hover{
    background-color: rgb(241, 250, 215);
  }
  