

.learning-mode {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 16px;
}



.category-card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 8px;
  padding: 16px;
  width: 300px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.category-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



.category-card h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}



.category-card p {
  font-size: 14px;
  margin: 0;
}
