<p>scrambled-words-game works!</p>
<div class="main" id="n">
    <h1 class="title" id="b">Mixed Letter - {{currentCategory.name}}</h1>
    <p class="minimize-margin" id="v"> {{target}} </p>
    <p>
        <span *ngFor="let letter of origin" id="c">{{ letter }} </span>
    </p>
    <div>
        <span id="x">Guess:</span> <input [value]="inputValue" (change)="handleChange($event)" type="text">
    </div>
    <br>
    <div class="center">
        <button (click)="resetValue()" id="z">Reset<mat-icon>loop</mat-icon></button>
        <button (click)="nextWord()" id="a">Submit  <mat-icon>forward</mat-icon></button>
    </div>
    <div class="progress-bar" id="d">
        <mat-progress-bar mode="determinate" ="calculateProgress()" id="s"></mat-progress-bar>
    </div>
</div>

<mat-progress-bar mode="determinate" [value]="getProgress()"></mat-progress-bar>
