<h1 mat-dialog-title>Game Selection</h1>
<div mat-dialog-content>
  <h2>Choose a game:</h2>
  <ul>
    <li>Game 1</li>
    <li>Game 2</li>
    <li>Game 3</li>
    <li>Game 4</li>
    <li>Game 5</li>
    <li>Game 6</li>
    <li>Game 7</li>
    <li>Game 8</li>
  </ul>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-button [mat-dialog-close]="true">Select</button>
</div>

<h1>Choose a game to learn {{ category.name }}</h1>
<ul>
    <li *ngFor="let game of games" (click)="selectGame(game)">
        {{ game.name }}
        <p>{{ game.description }}</p>
        <span>Difficulty: {{ game.difficulty }}</span>
    </li>
</ul>
<button (click)="navigateToGame()">Start Game</button>
