/* game-selection-dialog.component.css */

/* Set background color */
:host {
    background-color: #f9f9f9;
  }
  
  /* Center the dialog content */
  mat-dialog-content {
    text-align: center;
  }
  
  /* Style for the game selection title */
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    color: #007bff;
  }
  
  /* Style for the difficulty */
  h2 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  
  /* Style for the game description */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    font-size: 16px;
    margin-top: 10px;
  }
  
  /* Style for the start game button */
  button {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
  }
  
  /* Add hover effect to button */
  button:hover {
    background-color: #0056b3;
  }
  
  /* Style for the dialog actions */
  mat-dialog-actions {
    justify-content: center;
    margin-top: 20px;
  }
  
  /* Style for the select and cancel buttons */
  mat-dialog-actions button {
    margin: 0 10px;
  }
  
  /* Style for the select button */
  mat-dialog-actions button:first-child {
    background-color: #28a745;
  }
  
  /* Add hover effect to select button */
  mat-dialog-actions button:first-child:hover {
    background-color: #218838;
  }
  
  /* Style for the cancel button */
  mat-dialog-actions button:last-child {
    background-color: #dc3545;
  }
  
  /* Add hover effect to cancel button */
  mat-dialog-actions button:last-child:hover {
    background-color: #c82333;
  }
  
  
.center{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(169, 251, 17);
  border-color: black;
  border-width: 2px; 
}



mat-dialog-content {
  font-size: 20px;
  color: #1d941f;
  margin-bottom: 20px;
}

.center {
  text-align: center;
}

#gameSelect {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #e3f20c;
  margin-bottom: 10px;
}

mat-dialog-actions button {
  background-color: #48ff00;
  color: #d03131;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#D, #A, #Z {
  text-align: center;
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: #db0ed4; 
  margin-bottom: 10px;
}

#p:hover{
text-align: center;
font-size: 24px;
margin-bottom: 20px;
color: rgb(27, 235, 51);
background-color: rgb(14, 157, 209);
}

#M {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #e4800d;
  text-align: center;
  margin-top: 5px;
  text-shadow: 2px 2px 4px #96ef7f; 
}


#M::before {
  content: "\1F3AE";
  display: inline-block; 
  font-size: 24px;
  margin-right: 10px; 
}

  