mat-card {
  background-color: #dacf0b;
  box-shadow: 0 2px 5px rgba(7, 212, 48, 0.1);
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
}

mat-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

mat-card-content {
  padding: 20px;
}

mat-card-content div {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.6;
  color: #b40bce;
}