

:host {
  display: block;
}

mat-card {
  width: 300px; 
  height: auto; 
  margin: 20px auto; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s; 
  border-radius: 10px; 
}

mat-card-content {
  padding: 20px;
}

mat-card-content div {
  font-size: 18px; 
  font-weight: bold;
}

mat-card-content div {
  color: #c61c1c; 
}
