

:host {
  background-color: #f9f9f9;
}


mat-form-field {
  width: 100%;
  margin: 20px auto;
}

mat-select {
  width: 100%;
}


button {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}


button:hover {
  background-color: #0056b3;
}


button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}


mat-option {
  font-size: 16px;
}


.mat-form-field-label {
  color: #007bff;
  font-weight: bold;
}

.mat-form-field-underline {
  display: none;
}


.mat-select-arrow {
  color: #007bff;
}


.mat-select-panel {
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.mat-option {
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}


.mat-option:hover {
  background-color: #f0f0f0;
}
