.main{
  display: flex;
  padding: 30px;
  flex-direction: column;
  font-weight: bolder;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 5px solid black;
}
.title{
  text-align: center;
}
