
#unique-main {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0 auto;
  width: 600px;
}

.unique-title {
  font-family: Arial, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.unique-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#unique-score,
#unique-success-rate {
  font-family: Arial, sans-serif;
  font-size: 20px;
}

#unique-score {
  color: #007bff;
}

#unique-success-rate {
  color: #28a745;
}

#unique-table {
  width: 100%;
  border-collapse: collapse;
}

.unique-origin,
.unique-target {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.unique-icon {
  text-align: center;
}

.unique-icon mat-icon {
  font-size: 32px;
  color: #ddd;
  transition: color 0.3s ease;
}

.unique-origin:hover .unique-icon mat-icon,
.unique-target:hover .unique-icon mat-icon {
  color: #007bff;
}

#unique-icon-check {
  color: #28a745;
}

#unique-icon-clear {
  color: #dc3545;
}

#unique-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  display: block;
  width: 100%;
}

#unique-button:hover {
  background-color: #0056b3;
}
